

h1{
    margin:-20px;
    padding:49px;
    font-family:'Sora', Tahoma, 'Geneva', Verdana, sans-serif;
    color:#f6e71d;
    text-align: left;
    background-color:#181818;
     
}

.container{
    background-color: #020202;
    height:700px;
    width: 1600px;
    border-radius: 10px;
    margin:80px;
}

.loginbar{
    background-color: #f6e71d;
    border-radius:30px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 30px;
    right: 20px;
}

.logintext{
    color:#020202;
    font-family:monospace;
    text-align: right;
    font-size: 25px;
    position: absolute;
    top:40px;
    right: 60px;

}
